.about-statistics {
    .statistic {
        background-color: $primary;
        width: 200px;
        height: 200px;
        color: $white;
        font-size: 18px;
        line-height: 1.25;
    }
    .statistic-number {
        font-size: 80px;
        font-weight: $font-weight-bold;
    }
}

.about-services {
    .service-icon {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 160px;
        height: 100px;
        margin: 0 auto 12px;
    }
}


@include media-breakpoint-down(md) {
    .about-statistics {
        .statistic {
            width: 140px;
            height: 140px;
            font-size: 14px;
        }
        .statistic-number {
            font-size: 40px
        }
    }
}
