.carousel-banners {
    overflow: hidden;
}

.banner-content {
    background-color: rgba($primary, .8);
    padding: 0 40px;
    position: relative;
    min-height: 640px;

    .curve {
        content: '';
        display: block;
        position: absolute;
        right: 100%;
        top: 0;
        bottom: 0;
        width: 400px;
        height: 100%;
    }

    &::after {
        background-color: rgba($primary, .8);
        bottom: 0;
        content: '';
        display: block;
        left: 100%;
        position: absolute;
        top: 0;
        width: 600px;
    }

    .btn {
        background-color: $white;
        color: $primary;
    }
}
.banners-control {
    margin-top: -100px;
    height: 100px;

    .carousel-control-next,
    .carousel-control-prev {
        width: 100px;
    }

    .carousel-control-prev {
        left: auto;
        right: 100px;
    }
}
