.bizsecure-banners {
    .banner-content,
    .banner-content::after {
        background-color: rgba(#645faa,.9)
    }
}

.bizsecure-intro,
.bizsecure-how {
    padding: 80px 0;
}

.bizsecure-stats {
    .stat {
        background-color: #645faa;
        font-size: 12px;
        font-weight: $font-weight-normal;
        padding: 0 12px;
    }
    .stat-count {
        font-size: 40px;
        font-weight: $font-weight-bold;
    }
}
