.buynow-orderdevice,
.buynow-feature,
.buynow-step,
.buynow-compatibility{
  padding: 60px 0;
}

.buynow-orderdevice{
  // padding: 1rem 0;
  background-color: $primary;
  color: $white;
  .buynow-product {
    b {
      font-size: 1.4rem;
      font-weight: $font-weight-bolder;
    }
    a {
      font-family: $font-family-secondary;
      color: $white;
    }
    .half-underline {
      width: 100px;
      height: 3px;
      border-bottom: 3px solid $white;
      display: block;
      margin: 10px 0 25px;
    }
    input,
    textarea {
      border: 0 solid $navy;
      box-sizing: border-box;
      margin: 0;
      outline: none;
      padding: 10px;
    }

    input[type="button"] {
      -webkit-appearance: button;
      cursor: pointer;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    .input-group {
      clear: both;
      margin: 25px 0;
      position: relative;
      label {
        padding: 4px 1rem 0 0 ;
      }

    }

    .input-group input[type='button'] {
      // background-color: $secondary;
      color: $white;
      min-width: 28px;
      width: auto;
      border-radius: 3px;
      transition: all 300ms ease;
    }

    .navy {
      background-color: $navy;
      border-color: transparent;
    }
    .brilliant-orange {
      background-color: $brilliant-orange;
      border-color: transparent;
    }

    .input-group .button-minus,
    .input-group .button-plus {
      font-weight: bold;
      height: 30px;
      padding: 0;
      width: 28px;
      position: relative;
    }

    .input-group .quantity-field {
      position: relative;
      height: 30px;
      left: -2px;
      text-align: center;
      width: 50px;
      display: inline-block;
      font-size: $font-size-base;
      font-weight: $font-weight-bold;
      margin: 0 0 5px;
      resize: vertical;
      z-index: 1000;
    }

    .button-plus {
      left: -4px;
    }

    input[type="number"] {
      -moz-appearance: textfield;
      -webkit-appearance: none;
    }

  }
  .grid-divider {
    overflow-x: hidden;
    position: relative;
  }
  .grid-divider > [class*="col-"]:nth-child(n + 2):after {
    content: "";
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;

    @media (max-width: 767px) {
      width: 100%;
      height: 1px;
      left: 0;
      top: -4px; // quickfix to center line between columns
    }
    @media (min-width: 768px) {
      width: 2px;
      height: auto;
      left: -1px; // quickfix to hide divider on left side
    }
  }
}
.buynow-feature
.buynow-step
.buynow-compatibility {

}

.icon-checkmark{
  display: inline-block;
  transform: rotate(50deg);
  height: 18px;
  width: 10px;
  border-bottom: 2px solid $primary;
  border-right: 2px solid $primary;
  margin: -2px;
}

.table {
  font-size: $font-size-sm;
  margin: 0 1rem;
}

.table-feature {
  background-color: #f6f6f6;
  border: 2px solid $white;
  color: $black;
  thead {
    background-color: $primary;
    color: $white;
    font-size: $font-size-lg;
    th {
      font-weight: normal;
      padding: 8px 12px;
    }
  }
  tbody {

  }
  tr {
    border: 2px solid $white;
  }
  tr th[scope=row] {
    color: $primary;
    font-weight: $font-weight-bold;
    padding: 8px 12px;
  }
  td {
    text-align: center;
    padding: 8px 12px;
    // border: 1px solid #898989;
    z-index: 2;
  }
}
