.digital {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.digital-story {
    margin-bottom: 24px;
}

.digital-icon {
    background-color: #c00;
    width: 200px;
    height: 100px;
    margin: 0 auto;
}
