.footer {
    background-color: #ebedee;
    color: #636363;

    [data-toggle="collapse"] {
        border-bottom: 1px solid #ddd;
        display: flex;
        padding: 8px 12px;
    }
}

.footer-quote {
    line-height: 1.5;
    font-family: $font-family-secondary;

    .btn {
        background-color: $white;
        color: $primary;
        padding-left: 24px;
        padding-right: 24px;
        white-space: nowrap;

        &:hover {
            background-color: $primary;
            color: $white;
        }
    }
}

.footer-menu {
    > li {
        margin-bottom: 1rem;

        > a {
            font-size: 1rem;
            font-weight: $font-weight-bold;
        }
    }
}
.footer-submenu {
    > li {
        > a {
            color: inherit;
        }
    }
}

.footer-social {
    margin-top: 64px;
}
.footer-social,
.footer-social a {
    display: flex;
    align-items: flex-start;
    line-height: 20px;
}
.footer-social a span {
    margin: 1px 0 0 4px;
}


// Media min-width(736px)
@include media-breakpoint-up(md) {
    .footer {
        [data-toggle="collapse"] {
            display: none !important;
        }
    }

    .footer-sitemap,
    .footer-office {
        display: block !important;
    }

    .footer-quote {
        font-size: 20px;
    }
    .footer-quote-text {
      font-weight: $font-weight-bold;
    }
    .footer-quote-button {
        margin-left: 40px;
    }

    .footer-copyright {
        margin-top: 80px;
    }

    .footer-social {
        > li + li {
            margin-left: 24px;
        }
    }
}


// Media max-width(736px)
@include media-breakpoint-down(md) {
    .footer-quote {
        display: block !important;
        text-align: center;
        margin-bottom: 40px;
    }
    .footer-quote-button {
        margin-top: 24px;
    }

    .footer-social {
        display: block;
        overflow: hidden;
        text-align: center;
        margin-top: 24px;

        > li {
            float: left;
            width: 50%;

            > a {
                justify-content: center;
                padding: 12px 0
            }
        }
    }
}

// Media max-width(320px)
@include media-breakpoint-down(xs) {
    .footer-quote {
        display: block !important;
        text-align: center;
        margin-bottom: 40px;
    }
    .footer-quote-button {
        margin-top: 24px;
    }

    .footer-social {
        display: block;
        overflow: hidden;
        text-align: center;
        margin-top: 24px;

        > li {
            float: left;
            width: 50%;

            > a {
                justify-content: center;
                padding: 12px 0
            }
        }
    }
}
