.homeshield-banners {
    .banner-content,
    .banner-content::after {
        background-color: rgba(#fcac3c,.9)
    }
}

.homeshield-intro,
.homeshield-how {
    padding: 80px 0;
}

.homeshield-stats {
    .stat {
        background-color: #fcac3c;
        font-size: 12px;
        font-weight: $font-weight-normal;
        padding: 0 12px;
    }
    .stat-count {
        font-size: 40px;
        font-weight: $font-weight-bold;
    }
}
