.home-featured-logo {
    width: 120px;
    height: 50px;
    margin: 0 auto;
    background: #c00;
}

.home-intro,
.home-products,
.home-testimonial {
    padding: 80px 0;
}

.home-intro b {
  font-family: $font-family-secondary;
}

.home-featured {
    padding-bottom: 80px;
}

.home-products {
    .carousel-control-prev,
    .carousel-control-next {
        margin: 0 40px;
        color: #000;
        opacity: .6;
    }

    .product-heading {
        position: relative;

        &:after {
            background: $white;
            content: '';
            display: block;
            width: 100px;
            height: 4px;
            margin: 12px 0 32px;
        }
    }

    .product-logo {
        width: 120px;
        height: 120px;
        margin: 40px auto 16px;
        position: relative;

        img {
            object-fit: contain;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    .product-tagline {
        width: 240px;
        height: 48px;
        margin: 0 auto;
    }
}
.home-products-first {
    background-color: #e68838;
}
.home-products-second {
    background-color: #764ca3;
}

.home-testimonial {
  // align-items: middle;
}

 .home-testimonial-card {
  color: $gray-600;
  width: 250px;
  height: 330px;
  position: relative;
  background-color: #e1e1e1;
  border-radius: 15px;
  font-weight: $font-weight-bold;
  font-size: $font-size-base;
  padding: 1rem 0;
  margin: 2rem;
  align: center;

   blockquote {
  	font-size: 1.25rem;
  	max-width: 600px;
  	position: relative;
  	padding: 2rem 1rem;
    margin: 0 0 3rem 0;
  }

   blockquote:before,
  blockquote:after {
  	position: absolute;
  	color: #f1efe6;
  	font-size: 6rem;
  	width: 3rem;
  	height: 3rem;
  }

   blockquote:before {
    content: '';
    background: url("../images/quote.png") no-repeat;
    background-size: 40px;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
  	left: -.5rem;
  	top: -2rem;
  }

   blockquote:after {
    content: '';
    background: url("../images/quote.png") no-repeat;
    background-size: 40px;
  	right: -.5rem;
  	bottom: -2rem;
    // padding: 1rem 0;
  }

   img {
    position: absolute;
    bottom: 2rem;
    height: 15px;
    // padding: 2rem;
  }
}

 .card-active {
  color: $white;
  width: 250px;
  height: 350px;
  background: $primary;
  font-size: $font-size-lg;
}
