$blue:    #673AB7;
$indigo:  #303F9F;
$purple:  #645faa;
$pink:    #E91E63;
$red:     #F44336;
$orange:  #fcac3c;
$yellow:  #FFEB3B;
$green:   #4CAF50;
$teal:    #00a99c;
$cyan:    #00BCD4;
$navy:    #645FAA;
$brilliant-orange:     #fcac3c;


$colors: ();
$colors: map-merge((
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
), $colors);

$primary:       $teal;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$theme-colors: ();
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
), $theme-colors);

$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 4)
  ),
  $spacers
);


$body-color:                    #464646;

$link-color:                    theme-color("primary");
$link-decoration:               none;
$link-hover-color:              darken($link-color, 15%);
$link-hover-decoration:         underline;

$font-family-base:              'Rubik', $font-family-sans-serif;
$font-family-secondary:         'Viga', $font-family-sans-serif;

$font-size-base:                0.875rem; // Assumes the browser default, typically `16px`
$font-size-lg:                  ($font-size-base * 1.25);
$font-size-sm:                  ($font-size-base * .875);

$font-weight-lighter:           100;
$font-weight-light:             300;
$font-weight-normal:            400;
$font-weight-bold:              500;
$font-weight-bolder:            700;

$lead-font-size:                18px;
$lead-font-weight:              400;



$btn-font-weight:               500;

$btn-padding-y:                 .5rem;
$btn-padding-x:                 1.6rem;
$btn-padding-y-sm:              $btn-padding-y;
$btn-padding-x-sm:              $btn-padding-x;
$btn-padding-y-lg:              $btn-padding-y;
$btn-padding-x-lg:              $btn-padding-x;


$navbar-nav-link-padding-x:     .75rem;
