@import "framework";

body {
    position: relative;
    -webkit-font-smoothing: antialiased;

    &:before {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cecece+0,ffffff+100 */
        background: -moz-linear-gradient(top,  rgba(206,206,206,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(206,206,206,1) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 500px;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $primary !important;
    font-family: $font-family-secondary;
}


.font-alt {
    font-family: $font-family-secondary;
}




.btn {
    text-transform: uppercase;
    letter-spacing: .4px;
    font-family: $font-family-secondary;

    .icon-chevron-next {
        display: inline-block;
        vertical-align: top;
        margin: 2px -1rem 0 1.5rem;
        width: 20px;
        height: 20px;
    }
}

.btn-pill {
    border-radius: 1000px;
}

.wave {
    background-color: $white;
    background-size: cover;
    background-position: center 80px;
    background-repeat: no-repeat;
    height: 1000px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 56px;

    ~ .content {
        margin-top: 320px;
    }
}

.wallpaper {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.fill-haze {
    background: #f6f6f6;
}

.content {
    position: relative;
}

.sprites {
    height: 0;
    width: 0;
    position: absolute;
    visibility: hidden;
}

.heading {
    text-transform: uppercase;
}

.divider-dashed {
    border-top: 2px dashed $primary;
    margin: 24px 0;
}



.navbar {
    background-color: $white;
    padding-bottom: 24px;
    padding-top: 24px;
    position: relative;
    z-index: 1000;

    .nav-link {
        font-size: 1rem;
        font-weight: $font-weight-bold;
        color: $primary;
    }
}




.stat {
    background-color: $primary;
    color: $white;
    font-weight: $font-weight-bold;
    font-size: 16px;
    line-height: 1.2;
    width: 140px;
    height: 140px;
}















// Media min-width(736px)
@include media-breakpoint-up(md) {
    .container-slim {
        padding-left: 100px;
        padding-right: 100px;
    }
}

// Media min-width(736px)
@include media-breakpoint-down(md) {
    .wave {
        background-size: contain;
        top: 0;

        ~ .content {
            margin-top: 120px;
        }
    }
}



@import "home";
@import "banners";
@import "about";
@import "audra-cloud";
@import "homeshield";
@import "bizsecure";
@import "isp";
@import "digital";
@import "buy-now";
// @import "media";
@import "footer";
